/* CSS is how we style HTML (or TSX in this case) */
.container{
    border: 2px solid magenta
    
}

.login-card{
    display:flex; /*Creates a "flexbox" which give us some positional styling tools*/
    flex-direction: column;
    align-items: center;
    gap: 2px; 
}